.camposFormulario{
  display: flex;
  align-items: flex-start;
}

.botonBuscar{
  width: 150px;
  margin-top: 15px;
}

mat-form-field{
  margin-right: 10px;
}

.input-filter{
  width: 100%;
  font-size: 14px;
}
